---
layout: page
permalink: /author/
---

<div class="author-name">
  <img src="/images/avatar.jpeg" class="rounded-circle" width="380"  alt="Avatar">
  <p>Роман Пушкин</p>
</div>

<div class="author-info">
    <p>
      Живу и работаю в городе Сан-Франциско, Калифорния,
      и имею более 15 лет опыта программирования в компаниях с известными именами.
      За свою карьеру познакомился со множеством языков и 
      считаю язык Ruby самым удобным инструментом для решения многих практических задач. 
      Именно этот язык я использую в своей повседневной работе.
      Мой 
      <a href="https://github.com/ro31337" class="badge badge-primary" target="_blank" >github</a>
      аккаунт имеет более 4500 звезд, я являюсь одним из самых востребованных разработчиков в мире. 
      Про мои 
      <a href="http://telegra.ph/LibreTaxi-press-coverage-07-14" class="badge badge-primary" target="_blank" >проекты</a> 
      рассказывали на радио, ТВ и тематических сайтах.<br />
      Автор видео-курса 
      <a href="{% post_url 2023-03-20-lesson-1 %}" class="badge badge-primary">Rubyschool</a>
      и книги 
      <a href="{{"/book/" | relative_url}}" class="badge badge-primary">Ruby для романтиков</a>
    </p>
<div>

<div class="donate">
  <p>Поддержать:</p>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      {% include donate-svg.html %} 
      <a href="https://paypal.me/RomanPushkin" target="_blank" class="badge badge-primary">PayPal</a> 
    </li>
    <li class="list-group-item">
      {% include donate-svg.html %} Биткоин: <strong><code>32d1Mpws7zWrLiVeure4U24m4AwtMjr5YM</code></strong>
    </li>
    <li class="list-group-item">
      {% include donate-svg.html %} USDT (TRC20): <strong><code>TD1abfaLeEwAcbAvMRRrE2C49yDcRnC5A9</code></strong>
    </li>
    <li class="list-group-item">
      {% include donate-svg.html %} Etherium: <strong><code>0xD530728558dd3396A9e305616b8FF477F413a673</code></strong>
    </li>
    <li class="list-group-item">
      {% include donate-svg.html %} USDT (ERC20): <strong><code>0xD6dcfa6E65Ac8f5043c3af4C62B9a37F4B28b249</code></strong>
    </li>    
    <li class="list-group-item">
      {% include donate-svg.html %} Карта "Мир": 
      <code> 
        <strong>2202 2004 8242 1409</strong>
      </code>
      (инициалы для проверки: Ольга Анатольевна)
    </li>
    <hr>
  </ul>
</div>
