---
layout: page
permalink: /book/
---

<div class="book-presentation">
  <div style="padding:59.38% 0 0 0;position:relative;">
    <iframe src="https://www.youtube.com/embed/jETR2jyp1Aw" 
      style="position:absolute;top:0;left:0;width:100%;height:100%;border-radius: 5px; box-shadow: 0px 0px 20px 0px #999;"
      frameborder="0" 
      allow="autoplay; fullscreen; picture-in-picture">
      <br />
      Вероятно браузер не поддерживает эту функцию или его версия устарела :(
      <br />
      https://www.youtube.com/embed/jETR2jyp1Aw
    </iframe>
  </div>
</div>

<div class="book-info">
  <p id="title-description">Представьте, что вы попали на неизвестную территорию в саванну!</p>
  <p id="book-description">
    &nbsp; Нет ничего сложного в том, чтобы сориентироваться и со временем узнать что и где вас ждет. 
    Но если вы хотите сэкономить время, то можно воспользоваться услугами проводника, 
    который введет вас в курс дела, предоставит жизненно важную информацию, причем не за самую высокую цену. 
    Это вполне разумный шаг, хотя и не обязательный.
    По ссылкам ниже вы сможете купить мою книгу.
  </p>
  <p id="title-description">Почему я решил написать книгу?</p>
  <p id="book-description">
    &nbsp; Я зарабатываю деньги программированием более 15 лет, и за это время я пришел к выводу, 
    что не многие люди умеют хорошо объяснять. 
    99 процентов программистов при попытке что-то объяснить думают, что все остальные уже всё знают, 
    что люди такие же ловкие, что можно сразу всё понять. Но это не так, и я это понимаю. 
    Не каждый обладает талантом учителя, но мой видеокурс собрал много положительных отзывов, 
    а новая книга дает упорядоченные знания по языку Руби (без Rails).
    Поэтому я — скромный учитель, который вас понимает.
  </p>
  <p id="title-description">Почему в книге нет Rails?</p>
  <p id="book-description">
    &nbsp; Руби — это основа, если её понять, то освоить любой фреймворк будет легко. 
    Но если вы не понимаете основ (или понимаете, но не очень хорошо), 
    то в дальнейшем может быть много фундаментальных вопросов, а на поиск ответов придется тратить время. 
  </p>
</div>

<!-- <div class="book-header">Ruby для романтиков это:</div> -->
  
<div class="book-list">

  <p id="title-description">Ruby для романтиков это:</p>

  <ul class="list-group-flush">
    <li class="list-group-item">
      {% include check-circle-svg.html %}
      Дружественная книга, которая написана простым и понятным языком для начинающих
    </li>
    <li class="list-group-item">
      {% include check-circle-svg.html %}
      Нескучное обучение языку Руби, шелл-командам, основам программирования
    </li>
    <li class="list-group-item">
      {% include check-circle-svg.html %}
      Более 400 страниц последовательного материала с 78 заданиями для самостоятельной работы
    </li>
    <li class="list-group-item">
      {% include check-circle-svg.html %}
      Узнаете, что такое telnet и как отправлять HTTP-запросы вручную
    </li>
    <li class="list-group-item">
      {% include check-circle-svg.html %}
      Чем отличается класс от объекта, docker image от docker container и многое другое
    </li>
    <li class="list-group-item">
      {% include ruby-file-svg.html %}
      После книги и курса вы сможете продолжить самостоятельное обучение по Ruby и Ruby on Rails
    </li>
    <li class="list-group-item">
      {% include book-svg.html %}
      Книга доступна на 
      <a href="https://github.com/ro31337/rubyisforfun_ru/" class="badge badge-primary" target="_blank">
        github
      </a> 
      Исправить, улучшить, оставить 
      <a href="{{"/feedback" | relative_url}}" class="badge badge-primary">
        отзыв  
      </a>
      и внести свой
      <a href="{{"/contributions/" | relative_url}}" class="badge badge-primary">вклад</a> может каждый!
    </li>
    <li class="list-group-item">
      {% include chat-svg.html %}
      Есть вопросы? В нашем 
      <a href="https://t.me/rubyschool" class="badge badge-primary" target="_blank">
        telegram
      </a> 
      чате более двух тысяч человек! Поддержим и ответим на любые вопросы
    </li>
    <li class="list-group-item"></li>
  </ul>
</div>

<div class="book-choice">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

    <li class="nav-item" role="presentation">
      <button 
        class="nav-link active" 
        id="pills-paper-version-tab" 
        data-toggle="pill" 
        data-target="#pills-paper-version" 
        type="button" 
        role="tab" 
        aria-controls="pills-paper-version" 
        aria-selected="true">Бумажное издание (с доставкой)
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button 
        class="nav-link" 
        id="pills-web-version-tab" 
        data-toggle="pill" 
        data-target="#pills-web-version" 
        type="button" 
        role="tab" 
        aria-controls="pills-web-version" 
        aria-selected="false">Электронное издание (pdf, epub)
      </button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">

    <div class="tab-pane fade show active" id="pills-paper-version" role="tabpanel" aria-labelledby="pills-paper-version-tab">
      <div class="card-deck">

        <div class="card">
          <img src="/images/book_paper.jpeg">
          <div class="card-body">
            <h5 class="card-title">Ruby для романтиков</h5>
            <p class="card-text">Самая простая книга по Ruby с заданиями</p>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="book-delivery-button">
              <a href="https://www.labirint.ru/books/954706/" 
                target="_blank" 
                class="btn btn-primary active" 
                role="button" 
                aria-pressed="true">
                {% include delivery-box-svg.html %} 
                Заказать на labirint.ru
              </a>
            </li>

            <li class="list-group-item" id="book-delivery-button">
              <a href="https://www.chitai-gorod.ru/product/ruby-dlya-romantikov-samaya-prostaya-kniga-po-yazyku-ruby-s-zadaniyami-2986425" 
                target="_blank" 
                class="btn btn-primary active" 
                role="button" 
                aria-pressed="true">
                {% include delivery-box-svg.html %} 
                Заказать на chitai-gorod.ru
              </a>
            </li>

            <li class="list-group-item" id="book-delivery-button">
              <a href="https://dmkpress.com/catalog/computer/programming/978-5-93700-182-5/" 
                target="_blank" 
                class="btn btn-primary active" 
                role="button" 
                aria-pressed="true">
                {% include delivery-box-svg.html %} 
                Заказать на dmkpress.com
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="pills-web-version" role="tabpanel" aria-labelledby="pills-web-version-tab">

      <div class="book">

        <div class="card">
          <img src="/images/book_ru.jpeg">
          <div class="card-body">
            <h5 class="card-title">Ruby для романтиков (Русский)</h5>
            <p class="card-text">Самая простая книга по Ruby с заданиями</p>
          </div>

          <ul class="list-group list-group-flush" id="book-download-button">
            <li class="list-group-item">
              <a href="https://leanpub.com/rubyisforfun_ru/" 
                target="_blank" 
                class="btn btn-primary active" 
                role="button" 
                aria-pressed="true">
                {% include download-svg.html %}
                Загрузить
              </a>
            </li>
          </ul>
        </div>

        <div class="card">
          <img src="/images/book_en.jpeg">
          <div class="card-body">
            <h5 class="card-title">Ruby Is For Fun (English)</h5>
            <p class="card-text">Self-Study Course, From Absolute Beginner to Advanced</p>
          </div>

          <ul class="list-group list-group-flush" id="book-download-button">
            <li class="list-group-item">
              <a href="https://leanpub.com/rubyisforfun/" 
                target="_blank" 
                class="btn btn-primary active" 
                role="button" 
                aria-pressed="true">
                {% include download-svg.html %}
                Download
              </a>
            </li>
          </ul>
        </div>

        <div class="book-license">
          <p>
            <!-- <img src="https://camo.githubusercontent.com/bca967b18143b8a5b2ffe78bd4a1a30f6bc21de83bd8336f748e96498af38b38/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4c6963656e73652d43432532304259253230342e302d6c69676874677265792e737667"> -->
              Книга распространяется под свободной лицензией 
               <a href="https://creativecommons.org/licenses/by/4.0/legalcode.ru" target="_blank" class="badge badge-primary"> 
                Creative Commons Attribution 4.0
              </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>