---
layout: page
permalink: /book/
---

<div class="book-presentation">
  <div style="padding:59.38% 0 0 0;position:relative;">
    <iframe src="https://www.youtube.com/embed/jETR2jyp1Aw" 
      style="position:absolute;top:0;left:0;width:100%;height:100%;border-radius: 5px; box-shadow: 0px 0px 20px 0px #999;"
      frameborder="0" 
      allow="autoplay; fullscreen; picture-in-picture">
      <br />
      Вероятно браузер не поддерживает эту функцию или его версия устарела :(
      <br />
      https://www.youtube.com/embed/jETR2jyp1Aw
    </iframe>        
  </div>
</div>

<div class="book-info">
  <p id="book-description">
    Представьте, что вы попали на неизвестную территорию в саванну. 
    Нет ничего сложного в том, чтобы сориентироваться и со временем узнать что и где вас ждет. 
    Но если вы хотите сэкономить время, то можно воспользоваться услугами проводника, 
    который введет вас в курс дела, предоставит жизненно важную информацию, причем не за самую высокую цену. 
    Это вполне разумный шаг, хотя и не обязательный.
    <br />
    <br />
    По ссылкам ниже вы сможете купить мою книгу. Почему я решил ее написать?
    Я зарабатываю деньги программированием более 15 лет, и за это время я пришел к выводу, 
    что не многие люди умеют хорошо объяснять. 
    99 процентов программистов при попытке что-то объяснить думают, что все остальные уже всё знают, 
    что люди такие же ловкие, что можно сразу всё понять. Но это не так, и я это понимаю. 
    Не каждый обладает талантом учителя, но мой видеокурс собрал много положительных отзывов, 
    а новая книга дает упорядоченные знания по языку Руби (без Rails). 
    Поэтому я — скромный учитель, который вас понимает.
    <br />
    <br />
    Почему в книге нет Rails? Руби — это основа, если её понять, то освоить любой фреймворк будет легко. 
    Но если вы не понимаете основ (или понимаете, но не очень хорошо), 
    то в дальнейшем может быть много фундаментальных вопросов, а на поиск ответов придется тратить время. 
    Я считаю, что начинать нужно с основ, и хорошее начало очень важно для успеха.
  </p>
</div>

<div class="book-header">Ruby для романтиков это:</div>
  
<div class="book-list">
  <ul class="list-group-flush">
    <li class="list-group-item">
      {% include check-circle-svg.html %}
      дружественная книга, которая написана простым и понятным языком для начинающих
    </li>
    <li class="list-group-item">
      {% include check-circle-svg.html %}
      нескучное обучение языку Руби, шелл-командам, основам программирования
    </li>
    <li class="list-group-item">
      {% include check-circle-svg.html %}
      более 400 страниц последовательного материала с 78 заданиями для самостоятельной работы
    </li>
    <li class="list-group-item">
      {% include check-circle-svg.html %}
      узнаете, что такое telnet и как отправлять HTTP-запросы вручную
    </li>
    <li class="list-group-item">
      {% include check-circle-svg.html %}
      чем отличается класс от объекта, docker image от docker container и многое другое
    </li>
    <li class="list-group-item">
      {% include ruby-file-svg.html %}
      после книги и курса вы сможете продолжить самостоятельное обучение по Ruby и Ruby on Rails
    </li>
    <li class="list-group-item">
      {% include book-svg.html %}
      книга доступна на 
      <a href="https://github.com/ro31337/rubyisforfun_ru/" class="badge badge-primary" target="_blank">
        github
      </a> 
      Исправить, улучшить, оставить 
      <a href="{{"/feedback" | relative_url}}" class="badge badge-primary">
        отзыв  
      </a>
      и внести свой
      <a href="{{"/contributions/" | relative_url}}" class="badge badge-primary">вклад</a> может каждый!
    </li>
    <li class="list-group-item">
      {% include chat-svg.html %}
      есть вопросы? В нашем 
      <a href="https://t.me/rubyschool" class="badge badge-primary" target="_blank">
        telegram
      </a> 
      чате более двух тысяч человек! Поддержим и ответим на любые вопросы
    </li>
    <li class="list-group-item"></li>
  </ul>
</div>

<div class="book">
  <div class="row">  
    <div class="col-sm-6">
      <div class="card">
        <img src="/images/book_ru.jpeg" class="card-img-top" alt="Avatar">
        <div class="card-body">
          <p class="card-title"><strong>Ruby для романтиков (Русский)</strong></p>        
          <a href="https://leanpub.com/rubyisforfun_ru/" target="_blank" class="btn btn-primary">Загрузить</a>
        </div>
      </div>
    </div>  
    <div class="col-sm-6">
      <div class="card">
        <img src="/images/book_en.jpeg" class="card-img-top" alt="Avatar">
        <div class="card-body">
          <p class="card-title"><strong>Ruby Is For Fun (English)</strong></p>        
          <a href="https://leanpub.com/rubyisforfun/" target="_blank" class="btn btn-primary">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="book-license">
  <p>
    <img src="https://camo.githubusercontent.com/bca967b18143b8a5b2ffe78bd4a1a30f6bc21de83bd8336f748e96498af38b38/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4c6963656e73652d43432532304259253230342e302d6c69676874677265792e737667">
      Книга распространяется под свободной лицензией 
       <a href="https://creativecommons.org/licenses/by/4.0/legalcode.ru" target="_blank" class="badge badge-primary"> 
        Creative Commons Attribution 4.0
      </a>
  </p>
</div>
