---
layout: page
permalink: /contributions/
---

<div class="contributions">

  <p class="tg-links">
    <a class="btn btn-primary" 
      href="https://t.me/rubyschool" 
      role="button"
      target="_blank"
    >
      {% include telegram-svg.html %} Telegram чат Rubyschool
    </a>
  </p>
  
  <div class="list-group" id="links">
    <a href="https://github.com/ro31337/rubyschool" target="_blank" class="list-group-item list-group-item-action">
      {% include lesson-button-svg.html %}
      Оценить курс Rubyschool звездой на GitHib или сделать Pull Request
    </a>
    <a href="{{"/feedback/" | relative_url}}" class="list-group-item list-group-item-action">
      {% include lesson-button-svg.html %}
      Оставить отзыв о курсе Rubyschool
    </a>
    <a href="https://github.com/ro31337/rubyisforfun_ru/" target="_blank" class="list-group-item list-group-item-action">
      {% include lesson-button-svg.html %}
      Оценить книгу "Ruby для романтиков" звездой на GitHib или сделать Pull Request
    </a>
    <a href="{{"/feedback/" | relative_url}}" class="list-group-item list-group-item-action">
      {% include lesson-button-svg.html %}
      Оставить отзыв о книге "Ruby для романтиков"
    </a>
    <a href="https://github.com/krdprog/rubyschool-notes" target="_blank" class="list-group-item list-group-item-action">
      {% include lesson-button-svg.html %}
      Оценить конспекты по курсу Rubyschool звездой на GitHib или сделать Pull Request
    </a>
    <a href="https://github.com/de956/de956.github.io" target="_blank" class="list-group-item list-group-item-action">
      {% include lesson-button-svg.html %}
      Оценить дизайн сайта Rubyschool звездой на GitHib или сделать Pull Request
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p class="contributions-pull-request">Активные участники (обновлено 22 марта 2023):</p>
      <p class="contributions-person">
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+is%3Aopen+author%3Awolf-by" target="_blank"" 
          class="badge badge-pill badge-primary">
          wolf-by
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+is%3Aopen+author%3Avladkostikov" target="_blank" 
          class="badge badge-pill badge-primary">
          vladkostikov
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+author%3AILYAKOINOV" target="_blank"
          class="badge badge-pill badge-primary">
          ILYAKOINOV
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+author%3Aaleksandrilyin" target="_blank"
          class="badge badge-pill badge-primary">
          aleksandrilyin
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+author%3Akrdprog" target="_blank"
          class="badge badge-pill badge-primary">
          krdprog
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+author%3AlHydra" target="_blank"
          class="badge badge-pill badge-primary">
          lHydra
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+author%3Asas2job" target="_blank"
          class="badge badge-pill badge-primary">
          sas2job
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+author%3Alex111" target="_blank"
          class="badge badge-pill badge-primary">
          lex111
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+author%3AVito300187" target="_blank"
          class="badge badge-pill badge-primary">
          Vito300187
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+author%3Abudnij-den" target="_blank"
          class="badge badge-pill badge-primary">
          budnij-den
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+author%3AAmourlive" target="_blank"
          class="badge badge-pill badge-primary">
          Amourlive
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+author%3Awazzuper" target="_blank"
          class="badge badge-pill badge-primary">
          wazzuper
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+author%3Amarat-y" target="_blank"
          class="badge badge-pill badge-primary">
          marat-y
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+author%3Asvetarybalkina" target="_blank"
          class="badge badge-pill badge-primary">
          svetarybalkina
        </a>
        <a href="https://github.com/ro31337/rubyschool/issues?q=is%3Apr+author%3Aghost" target="_blank"
          class="badge badge-pill badge-primary">
          ghost
        </a>
        <a href="https://github.com/ro31337/rubyschool" target="_blank"
          class="badge badge-pill badge-primary">
          ro31337
        </a>
        <a href="https://github.com/de956" target="_blank"
          class="badge badge-pill badge-primary">
          de956
        </a>
      </p>
    </li>
  </ul>
</div>
