---
layout: page
permalink: /feedback/
---

<div class="feedback-info">
  <div class="alert alert-info" role="alert">
    Дорогие друзья!<br /> Оставляйте ваши отзывы о руби школе!
    Понравились уроки? Книга? Нашли работу? Большой отзыв? Без проблем!<br />
    Не бойтесь сделать что-то не так, если что - я поправлю. Заранее благодарю!
  </div>
</div>

<div class="feedback-support">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      {% include pointer-svg.html %}
      &nbsp;
      Пройдите по этой 
      <a href="#" 
        class="badge badge-primary" 
        target="_blank">
        ссылке (пока ее нет!)
      </a> 
      - там будет кнопка редактирования (карандаш)
    </li>
    <li class="list-group-item">
      {% include pointer-svg.html %}
      &nbsp;
      Отмотайте вниз (на 75 строку) и вставьте свой отзыв по аналогии с остальными отзывами. Шаблон для отзыва:
    </li>
    <li class="list-group-item">
      <br />
      <br />

      {% highlight html %}
        <div class="card text-center">
          <div class="card-header">
            <p class="feedback-title">
              
              Здесь ваш отзыв о курсе или книге
            
            </p>
          </div>
          <div class="card-body">
            <p class="card-text">
              
              Здесь ваш комментарий
            
            </p>
          </div>
          <div class="card-header">
            <p class="feedback-person">
              
              Здесь ваши инициалы, псевдонимы, профили соцсетей
            
            </p>
          </div>
        </div>
      {% endhighlight %}

    </li>
    <li class="list-group-item">
      {% include pointer-svg.html %}
      &nbsp;
      Когда вы нажмете сохранить - Гитхаб сразу предложить создать Pull Request, прямо из браузера - соглашайтесь.
    </li>
    <li class="list-group-item"></li>
  </ul> 
</div>

<div class="feedback-post">

  <!-- Следующая строка 75, для шаблона с вашим отзывом о курсе / книге -->

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о книге</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        1. Адекватное и профессиональное доказательство, основанное на многолетнем опыте автора, 
        о том, что руби действительно является лучшим языком для веб разработки. 
        Что он легкий и понятный по синтаксису и для понимания даже для тех, кто не знаком был ранее с программированием.
        От себя могу сказать, что Ruby не первый язык, который я бралась изучать в одиночестве так сказать. 
        Я бралась за Java, JavaScript, за андроидную джаву, и за питона. 
        Первые три языка мне показались реально сложными. 
        Я старательно пыталась запомнить синтаксис и “въехать” в него, но в какой то момент понимала, 
        что просто ничего не понимаю, что дальше происходит.
        По питону было полегче, но меня бесили отступы, которые надо было соблюдать, 
        потому что они влияют на синтаксис языка. Отсутствие каких то правил написания кода, все писали код как могли, 
        как мне казалось на тот момент. Плюс надо было знать какие то математические штуки по некоторым задачам, 
        которые я не понимала, так как с математикой у меня трояк.
        Думала, что придется завязать с программирование, что в одиночку дома выучить не реально.
        Случайно от знакомого узнала, что есть язык Ruby. Я переспросила три раза, 
        мне показалось смешное название для языка  – “руби”. И после гугла нашла курсы твои и стала заниматься.
        Мой косяк был в том, что я старалась скорее пройти весь курс, мало времени уделяла в начале самому руби языку. 
        Хотелось скорее перейти на рельсы.
        В результате слабые знания по руби дали о себе знать.
        А в твоей книге сейчас очень хорошо, что сделан большой упор на Руби. 
        Описаны важные методы, процессы и есть интересные задания. 
        Чтобы читатели могли попробовать все сами и сравнить результат с тем, что у них и что в книге. 
        Руби – это база и не зная ее, хорошо кодить на рельсах не получится!
        <br /><br />
        2. Сравнение с другими языками, в том числе с приведением конкретного синтаксиса. 
        Потому, что многие пытаются еще освоить JavaScript с рельсами и все равно рано или поздно хоть как то, 
        но приходится его касаться.
        <br /><br />
        3. Описание рабочих сред и редакторов. И почему и что лучше выбрать. 
        В чатах же постоянные холивары на эту тему. 
        Новичкам тоже не понятно сразу, почему надо уходить с привычной винды и чем отличается RubyMine от Vim, например.
        <br /><br />
        4.  Есть важные команды для консоли (для меня вот было полезно). 
        Так как после установки Linux Mint, я была “кинута” в эту среду и что и как там работает было не сразу понятно. 
        И все команды приходилось гуглить. Времени изучать среду полностью не было, да и не хотелось уходить с дороги руби-рельсов. 
        Но, и совсем не зная команд консольных, было трудно. Надо было ставить, апгрейдить, что то смотреть, изучать все новое.
        А в книге, как раз выжимка по самым нужным командам, все в одном месте. Можно сразу записать себе и пользоваться.
        <br /><br />
        5. На простом языке описаны принципы ООП, про полиморфизм, duck typing, блоки, модули и другие приемы.
        Я вот опять же не раз гуглила перед собеседованиями, чтобы освежить, что это такое, чтобы просто рассказать. 
        Хотя я понимаю принципы, но как написано в википедии или в какой то умной книжке, 
        мне никогда так не рассказать и порой даже сложно понять.
        А в книге, все доступным языком на понятных примерах объясняется все это.
        <br /><br />
        6. Вообще было много полезных для меня фишек, про то, как смотреть красивый двух-трех-мерный массив в консоли. 
        Про то, как менять один элемент в массиве, чтобы не менялись остальные при этом. 
        Про empty? blank? present? -- они у меня всегда путались когда какой надо использовать. 
        Сейчас я уже точно запомнила, благодаря твоей книге!
        И таблица там классная по этим методам.
        <br /><br />
        7. Классное объяснение про символы. Конкретно две причины, почему их хорошо использовать. 
        Я раньше знала, но в гугле выдалось однажды отличий как минимум. Конечно, я только одно запомнила. 
        Только, что ячейка памяти занимается одна и та же.
        Но, некоторые даже не задумываются над тем, что лучше символы или строки использовать.
        <br /><br />
        8. Про линейное и константное время было очень интересно узнать, я не подозревала даже о них!
        <br /><br />
        9. Интересно было про дублирование кода, про то, что важно все таки, чтобы код читался не только автором кода. 
        И мнение известных программистов по поводу дублирование и тестирования.
        <br /><br />
        10. Про субтипирование не знала вообще. Хотя казалось, что руби я знаю.
        <br /><br />
        11. И даже про докер. Я вот напоролась на работе на том, что мне сказали ставить докер. 
        А что это я даже не знала. Инструкции нормальной не дали, в интернете тыща один совет и все у всех по разному работает. 
        Я неделю мучалась тогда. В чат еще писала помнишь? И ты мне помогал опять же.
        <br /><br />
        12. Интересное задание про подборку пароля с готовым окружением.
        Вообще там все задачи интересные. Скучных и математических нет, как я раньше встречала на питоне.
        <br /><br />
        13. Полезная инфа, про RVM, Vagrant, докер, виртуалки, PATH. 
        Вот когда только начинаешь заниматься руби и тебе надо во все это сразу въехать, реально едет крыша от информации. 
        И не знаешь сразу что надо, а что лучше. Тогда начинаешь гуглить и спрашивать всех что ставить и что лучше. 
        А в книге вот все по полочкам что и для чего надо!
        <br /><br />
        14. Про мажорную и минорную версию и ночные сборки тоже не знала. Интересно было узнать.
        <br /><br />
        15. Порадовалось о том, что DHH как и я не любит rspec. Ахахаха :) Ну ему то можно и не любить, а я пока так себе, 
        потому что не все тесты получается писать. Какие то получается, с какими то мучаюсь по нескольку дней.
        Вообще, ощущение от книги, что ее писал человек с огромным багажом программерского опыта. 
        Не просто 5-10 лет, как бывает пишут книги люди, поверхностно копируя и переписывая, что уже написано в других источниках.
        И я говорю не просто потому, что знаю Ром твою историю заранее. 
        А правда чувствуется взгляд не российского автора, а такой общий объективный взгляд на программирование, на руби, 
        на технологии, человека, который всю жизнь в коде и знает весь этот айсберг целиком, а не только его верхушку.
        И даже, вот пройдя твой бесплатный курс и курс от Хорошего Программиста, я нашла для себя много полезного. 
        Книга помогла, во-первых, укрепить и уже окончательно понять, что я уже знала, но возможно не до конца понимала до этого. 
        Во-вторых, узнать такие детали, до которых я бы еще долго шла сама, если бы вообще дошла!
        Я просто уверена, что книга будет полезна и тем, кто сегодня узнал о руби и тем, кто уже синьор с 5-ти летним опытом!
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} Ольга</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Роман, здравствуйте!<br />
        Хочу вам сказать огромное спасибо за тот труд, который вы делаете для нас в России. 
        Я была в безнадежном положении и не знала что делать уже с работой. 
        Нашла ваш курс и видео на ютубе. Я их изучила до дыр. Записала в аудио и слушала в наушниках везде. 
        Прошла весь курс пол года назад. Нет, я не стала руби разработчиком. НО!
        Я начала работать на апворке как IT специалист. 
        Моя работа сейчас называется digital virtual assistant. 
        И мне там требуются знания разработки и весь тот опыт, что я получила у вас очень пригождается. 
        Самое главное, что благодаря вам я вообще вышла на апворк, 
        стала думать про это и набралась смелости это сделать! 
        Неожиданно после выхода на апворк мне посыпались предложения и реальная стабильная работа. 
        Я выбрала именно эту работу особенно вместо разработки, 
        так как она очень стабильная и долгая и не требуется много сил, внимания и времени. 
        Как лингвист со знаниями языков это то, что мне нужно. 
        Я заработала свою первую штуку баксов на апворке к Новому году, начав работать в сентябре. 
        Теперь чувствую себя уверенно и повышаю оплату с пятью постоянными клиентами со всего мира (USA, UK, SWE)! 
        Я могу обучать своего сына одна на семейном образовании и жить хорошо в своем городе Ростове-на-Дону. 
        Веб приложения на руби делаю! Для себя и своего личного пользования. И это так интересно и суперски. 
        Советую ваш курс всем отчаявшимся в нашей стремной стране. 
        Благо доллар высок по курсу и даже 500 долларов в месяц могут быть хорошим доходом, 
        учитывая трудозатраты и часы (я работаю ок 10 часов в неделю). 
        Посылаю вам огромные лучи добра и благодарности.
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} Варвара</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Что хочу сказать ребят. Весь мой опыт в html был лет 18 назад, 
        когда я вручную сайт писал на чистом html как хобби. 
        Сейчас окунулся в RoR и скажу я вам это просто сказка какая то. 
        Сижу на 39 уроке, но уже понимаю что он такие вещи делает, о которых я даже не догадывался. 
        Сижу и кайфую как же все элегантно и круто он делает. 
        Нажал кнопку и он тебе сделал статические страницы для всех сущностей, будь их хоть 1000, 
        а в чистом html я это все вручную вбивал копипастой :)
        <br />
        Я как злодей сижу потираю ручки с мыслью о том, 
        что тут можно всего наделать и хочеться разом досмотреть все видео и применять полученные знания на деле, 
        благо я работаю в строительном магазине Админом и шеф хочет сайт для него сделать, 
        это будет мое первое задание! Еще раз спасибо Роману за это!
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} Роман К.</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        - Привет, Роман! Это же ты тот самый Журавль?)<br />
        - hi, da<br />
        - круто) Хотел тебе сказать, большое спасибо, твой пост на лепре изменил мою жизнь)<br />
        - а давно ты занимаешься?<br />
        - два года назад я закончил заниматься фермерством, и думал куда применить себя, и наткнулся на твой пост. 
        С него все и началось. Сейчас две работы уже обе связаны с руби + девопс. HR пишут<br />
        - круто, молодец :)<br />
        - ну и когда начал учить мне было 35 лет. Cейчас 37) Основной камень претконвения при найме, особенно когда опыта не было, но я нашел хак) убрать из резюме возраст))<br />
        - правильно) ну это в РФ так. На фрилансе в общем-то вообще всем пофиг<br />
        - угу, ну одна работа на апворке, вторая в в Питере [some details removed for privacy]<br />
        - молодец, неплохо)<br />
        - 1800+ часов на апворке [upwork link removed for privacy]<br />
        - о. вау. крут<br />
        - В общем, спасибо тебе большое еще раз, нужно тебя как то отблагодарить) если нужна какая то помощь можешь смело бращаться)<br />
        - ага, хорошо :) спасибо за отзыв. Не против если я из него уберу личные детали (ссылки, имена, имена компаний, и опубликую в виде отзыва на сайте rubyschool.us?)<br />
        - конечно) можешь мой контакт под отзывом оставить, если кто не поверит я подтвержу
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} телеграм ученика @indaemonedeus</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        В декабре я начал изучать азы веба, купил доступ к задачам на htmlacademy и взял курсы 1 и 2 уровня,
        в концу января все прошел сверстал свой первый проект с адаптивным дизайном под мобильники,планшеты, пк,
        начал пользоваться github и заливать туда эту работу по мере выполнения.
        С Rubyschool.us познакомился в конце декабря, а где-то в середине января приступил к его изучению,
        изучал где-то по 2 урока в день и закончил к середине марта все уроки + прокачивал профиль на github.
        С тех пор начал искать Jobs ходить на онлайн собеседования, решать задачи на codewars и с собеседований ,
        уже начал сидеть здесь в чате. На собеседованиях понял что мне остро не хватает теоретических знаний по
        таким вещам как ООП, алгоритама нормализации, базовых знаний по теории БД вроде транзакций и простых запросов
        и начал подскачивать скил на книжках. Прокачав теоретический скил к июню я попал на два собеседования на одно
        из которых я попал отсюда и которые я смог пройти. В дальнейшем на последнем собеседовании мне предложили
        работу.
        Таким образом почти к 4-5 июля я начал свою первую работу разработчиком на ruby.
        В результате я проработал у них по сегодняшний день, без 3 дней 2 месяца.
        Испытательный срок был расчитан на 3 месяца и я с ним не справился.
        Проект был очень большой и трудный для меня, на казалось бы мелкую правку я затрачивал от 4 до 20 часов
        и со временем скорость моей работы не выросла и я не оправдал надежд для испытательного срока.
        Сказалось отсутвие навыка дебажить как класс, долгий поиск откуда у чего ноги растут.
        Мне понравилось работать с ними , это был хороший опыт давший мне знаний и реальный опыт который в свою
        очередь лучше чем придумывать свои учебные проекты.
        Буду искать следующую работу!
        Роме хочется выразить отдельную благодарость за то что сделал свои курсы достоянием общества, это был
        отличный старт давший мне базовые знания!
        Для желающих освоиться в этой сфере хочу добавить что этот курс не продукт который сделает из вас
        профессионала, этот курс - план по которому надо много трудится,
        решать задачи которые даются после уроков, читать самому книги что бы быть готовым не только к задачам но и к
        собеседованиеям а так же понимать
        что происходит в программировании, так что старайтесь и у вас все получится!
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} 
        <a href="https://github.com/Amourlive">Алексей</a>
      </p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Давно следил за Романом, перечитывал блог раз 5. По его наводке худо-бедно начал учить руби по онлайн-курсам и книжкам. Спустя некоторое время пригласили в сторонную шарагу, кодить на ПХП :D Удвоился, а затем и утроился.
        Не забывал про руби, следил за бложиками, чат-группами. Купил видеокурс по рельсам на rubyschool.us. Прошел.
        Писал бесплатно, за задачи и за менторство (не делайте так).
        Через стартап-чатик вышел на людей, а оттуда на других людей, а оттуда на буржуев, перешел на фуллтайм на
        рельсы. Доход увеличился еще в 2.5 раза. Причем сейчас у меня уровень джуниора, как по ЗП, так и по скиллам.
        Спасибо, Роману! Без него, возможно, все было бы по-другому.
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} Марат</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        (вынесено из чата)
      <br />
      <br />
      - А-ее-е-е-е--ее! В понедельник выхожу на работу! Впервые с 2010-го года :)<br />
      - Кем устроился? И кем был? До 17 года<br />
      - Фронтендером, буду клиент писать. 2010-2017 я свадьбы фотографировал )<br />
      - Круто. А сколько по времени фронт учил?<br />
      - За js я где-то с марта сел, после того как Ромин курс прошел... а потом за своей игрой 15 часов в сутки с
      апреля сидел )))<br />
      - Жёстко ты<br />
      - Первое что они меня спросили, перезвонив - какой мак мне купить на рабочее место. Ахахаха. Я просил 80. Чем
      их очень рассмешил. На испытательный в итоге дали 100. На испытательный, Карл!<br />
      - Круто!<br />
      - Народ, пилите свои проекты. Чтобы было что показать
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} Олег О., Санкт-Петербург</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Рома, привет) Хотел сказать тебе огромное спасибо, за твои курсы по
        руби и рельсам. Ты дал огромный толчок, показал направление и
        можно сказать, изменил мою жизнь)
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} ученик Rubyschool</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Привет,Роман! Вот только досмотрел твой Ruby On Rails курс и хотел бы
        поблагодарить тебя за 50 замечательных уроков,которые не только позволили
        мне узнать много нового о том, что мне действительно интересно,но и хорошо
        провести время. Обрел ясность в каком направлении хочу развиваться и понял,
        что для этого необходимо. Твои уроки, на самом деле, глоток свежего воздуха
        после всего того, что слышу у себя в университете...(removed)... Без
        преуменьшения, ты будто открыл для меня двери, о которых я знал, но
        стеснялся в них постучать...(removed)... Еще раз Спасибо!
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} ученик Rubyschool</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Рома, привет!
        Спасибо тебе за твою работу и потраченное время!
        Только что досмотрел последний урок.
        Задонатил тебе копеечку, но на коробку Blue Moon должно хватить =)
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} ученик Rubyschool</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        ...историю немного рано рассказывать, но я прошел собеседование в [removed] на
        позицию ruby software engineer и в мае меня ожидает переезд в Чехию...
        Помню, когда оставалась неделя до начала роминых занятий, я нехило стрессовал.
        Для меня это было кардинальное переключение мозга, полный выход из зоны комфорта.
        И всё это по вечерам, после работы и тренировок. Я на курсах иногда засыпал,
        ведь они часто шли до ночи. Потом перестал успевать и досматривал позже, на работе и дома.
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">
        {% include feedback-title-svg.html %}
        Прим.RP: переезд в Чехию состоялся, ученик работает в известной компании
      </p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Роман, вы прекрасный преподаватель. Не имея никакого background в
        программинге мне другие курсы как-то ломали мозг, и я уже было пришла
        к выводу, что не мое. Но вы прекрасно все объясняете. Спасибо вам!
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} ученик Rubyschool</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Блин, Журавль, огромное тебе спасибо за курс! Правда, с ноября я забыл
        про просмотр вечером сериалов и прочий досуг. Прихожу с работы, включаю
        видео и что–то пишу. За это время написал двух телеграм–ботов, а буквально вчера
        закончил свой первый сайт на рельсах. И не могу остановиться. При этом, еще прошлой
        осенью я вообще ничего в этих делах не смыслил.
        Реально, большое тебе спасибо!
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} ученик Rubyschool</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Когда сидишь долго в декрете — отличная разминка для мозгов)
        начала смотреть видео... прошлым летом, закончила примерно к октябрю.
        Еще кодакадемию прошла, в лепро–руби–слако–чатике очень много полезного.
        Сейчас вот подрабатываю на апворке, почасовая постоянка, пишу руби парсеры
        (12$ в час). Месяц уже отработала, с получки отправила небольшой donation)
        И да, руби первый язык, опыта в IT было 0.
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} ученик Rubyschool</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Спасибо за Ваши курсы Роман! Очень все разжевано, приятно смотреть
        для новичков. Уже на 16 уроке) и понимаю что ничего нет сверхъестественного).
        Всегда хотел стать программистом, но из -за своего раздолбайсва стал
        инженером, имея работу которую не перевариваю. Надеюсь в этом году
        стать junior - ом ruby, параллельно подтянуть html/css/javascript основы.
        И да, всегда мечтал уехать куда -нить за рубеж, попробовать. Теперь с
        обстановкой в стране становиться понятным что путь выбрал правильный,
        так как с нашим курсом рубля хочется просто смеяться. Во многом меня
        привлекает программирование из -за того, что я интроверт. До этого много
        что пробовал php, java, лишь топтался на месте и особо не цепляло, знал
        про руби, но курсов как таковых не было, адекватных. Английский в принципе
        подтягиваю, читать могу, благодаря 16 урокам Петрова ( узнал столько,
        что школьный курс и институт просто курит в сторонке). буду стараться,
        хорошо что холостой и без вредных привычек, надеюсь найти себя. Если
        все выйдет, то с меня причитается). И да, если бдете проездом в Питере
        то милости прошу). Удачи Вам во ВСЕМ !!!
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} ученик Rubyschool</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        ...Очень повезло, что осенью прикупил твои уроки (прим.RP - тогда
        они были платные, т.к. занятия были live, теперь доступны всем желающим)
        и начал по ним заниматься. Голова не хотела во все это вникать. Меня клонило
        в сон от нового и непонятного, но я продолжал. В итоге, прошел половину
        курса и сразу после сокращения устроился junior developer в местную контору...
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} ученик Rubyschool</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Рома, спасибо!
        Благодаря твоему совету год назад, что нужно уходить во фриланс и
        программирование, я вышел на зарубежного заказчика и уже сдал первый проект))
        Нужно наверное тоже в дальнейшем в Америку переезжать..
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} ученик Rubyschool</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Хочу сказать Роме... огромное спасибо за его пост... В июне я начал
        учиться, сегодня (прим. - 4 апреля) меня пригласили на работу!
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} Антон Б.</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Так 4 дня назад начал искать работу. Вжух и сегодня я руби программист
        на фуллтайм. Первый день отработал.
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} ученик Rubyschool</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Хочу сказать большое спасибо Роме.
        В декабре начал изучать программирование по курсам Ромы.
        Сегодня (прим.RP - 20 апреля) мне сделали предложение
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} Владимир Загорский</p>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <p class="feedback-title">{% include feedback-title-svg.html %} Отзыв о курсе</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        Очередной раз лепра меняет мою жизнь, на этот раз из–за вашего поста
        по рубям мне пришлось стать понаехом в ДС, ищущим работу. Причем из
        меня пока руби кодера не вышло, зато из жены очень даже, в начале февраля
        у неё закончится испытательный срок и запилю сюда саксес стори, а сам
        пополз на джоб подлепру. Само собой, спасибо товарищу Журавлю.
      </p>
    </div>
    <div class="card-header">
      <p class="feedback-person">{% include feedback-person-svg.html %} ученик Rubyschool</p>
    </div>
  </div>
</div>
