---
layout: default
---
<div class="start-page">

  <ul class="list-group">
    <li class="list-group-item" id="free-span">
      <span class="badge badge-success" 
        title="Отблагодарить можно донатом или купить книгу :)">
       * Бесплатно, без регистрации и смс :)
      </span>
    </li>

    <li class="list-group-item" id="head-title">
      Курс по изучению языка
 
      <button type="button" 
        class="btn btn-secondary" 
        data-toggle="tooltip" 
        data-placement="left" 
        title="Нажмите, чтобы узнать больше на Википедии">
          <a href="https://ru.wikipedia.org/wiki/Ruby" target="_blank">Ruby</a>
      </button>

      и фреймворку 

      <button type="button" 
        class="btn btn-secondary" 
        data-toggle="tooltip" 
        data-placement="left" 
        title="Нажмите, чтобы узнать больше на Википедии">
          <a href="https://ru.wikipedia.org/wiki/Ruby_on_Rails" target="_blank">Ruby on Rails</a>
      </button>

      на 100 часов!
    </li>
  </ul>

  <div class="preview-list">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Познакомимся с Ruby, где используется и почему Ruby?<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Настройка среды разработки, основы командной строки<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Простые типы данных в Ruby, массивы и хеши<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Управляющие конструкции, идиомы Ruby и хороший стиль<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Ruby-программы: калькулятор, словарь, крестики-нолики<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Объектно-ориентированное программирование в Ruby<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Блоки, Proc и lambda, метапрограммирование<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Git и Github, совместная разработка<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Веб страница - HTML / CSS / JavaScript / JQuery<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Инструменты веб-разработчика в браузере, база данных SQLite<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        HTTP протокол, GET и POST запросы<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Сессии и куки, json, LocalStorage<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Веб-приложения Sinatra: BarberShop и PizzaShop<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Экосистема Rails, структура файлов, gem Active Record<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Веб-приложения BarberShop и PizzaShop на Rails<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        MVC и REST, роутинг, валидация данных, аутентификация<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        CRUD и типы связей: many-to-many, one-to-many, one-to-one<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        RSpec и тесты, TDD/BDD<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        Scaffolding, паттерны, регулярные выражения<hr> 
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="item-empty"></li>
      <li class="list-group-item" id="item-svg">{% include pointer-svg.html %}</li>
      <li class="list-group-item" id="item-string">
        О резюме, реальных интервью и трудоустройстве<hr>
      </li>
      <li class="list-group-item" id="item-empty"></li>
    </ul>
  </div>

  <div class="card-columns">
    <div class="card">
      <div class="card-body">
        {% include donate-svg.html %}
        <p class="card-text">
          В Ruby одни из самых высоких<br />
          зарплат в веб-разработке 
          и самый высокий рост зарплат при переходе от junior к middle и от middle к senior
        </p>
      </div>
      <hr>
    </div>

    <div class="card">
      <div class="card-body">
        {% include ruby-file-svg.html %}
        <p class="card-text">
          Стандартная библиотека Ruby предоставляет множество утилит и классов для выполнения общих задач,
          а обширная документация и множество открытых библиотек для расширения функциональности -
          делает Ruby простым и эффективным иструментом для решения многих задач
        </p>
      </div>
      <hr>
    </div>

    <div class="card">
      <div class="card-body">
        {% include cpu-svg.html %}
        <p class="card-text">
          Ruby и Rails абсолютно бесплатны, с открытым исходным кодом и большим сообществом программистов
        </p>
      </div>
      <hr>
    </div>

    <div class="card">
      <div class="card-body">
        {% include gem-svg.html %}
      </div>

      <blockquote class="helloword">
        <span class="comment">
          # Знаменитая программа<br />
          # "Привет, Мир!"<br />
          # очень проста.<br />
          # Здесь будут лишними:<br />
          #<br />
          # * Метод "main"<br />
          # * Перенос строки<br />
          # * Точки с запятой<br />
          #<br />
          # Вот и сам код Ruby:<br />
          <br />
          <br />
        </span>
        <span class="code">puts</span>
        <span class="text">'Привет, Мир!'</span>
      </blockquote>
      <hr>
    </div>

    <div class="card">
      <div class="card-body">
        {% include gem-svg.html %}
      </div>

        <p id="irb">
          Интерактивный Ruby!<br />
          Пишите любой код и увидите результат его работы сразу же!
        </p>

        <blockquote class="irb">
          <br />
          <span class="cli">
            user@rubyschool:~$ irb<br />
          </span>
          <span class="cli">
            3.0.0 :001 >
          </span>
          <span class="code">
             2 + 2 * 2<br />
          </span>
          <span class="text">
            => 6<br />
          </span>
            <br />
        </blockquote>
    </div>

    <div class="card">
      <div class="card-body">
        {% include box-svg.html %}
        <p class="card-text">
          Ruby on Rails создаются<br />
          топ-разработчиками и сообществом по всему миру, 
          которые сразу включают в него применение лучших инженерных и архитектурных практик</p>
      </div>
      <hr>
    </div>

    <div class="card">
      <div class="card-body">
        {% include worldwide-svg.html %}
        <p class="card-text">
          Ruby on Rails популярен в <br />
          Европе, США, Бразилии, ЮАР, Индии и других странах,
          особенно его любят стартапы! Такие компании как 
          Twitch, GitHub, Shopify, Netflix, Groupon,
          Airbnb используют Rails в своих сервисах
        </p>
      </div>
      <hr>
    </div>

    <div class="card">
      <div class="card-body">
        {% include community-svg.html %}
        <p class="card-text">
          Сообщество Ruby и Rails ценит простоту кода, 
          поэтому стремится к созданию простых и удобных для поддержки приложений
        </p>
      </div>
      <hr>
    </div>
  </div>

  <div class="exercise">
    <a href="{{"/lesson-1/" | relative_url}}" 
      class="btn btn-primary btn-lg active" 
      role="button" 
      aria-pressed="true">

      <ul class="list-group list-group-horizontal">
        <li class="list-group-item" id="item-svg">{% include gem-svg.html %}</li>
        <li class="list-group-item" id="item-string">
          Начать курс Rubyschool
        </li>
      </ul>
    </a>
  </div>
</div>