---
layout: post
title: урок 40
categories: lessons
---

<div class="lessons-page">
  <p class="lesson-number"> {% include gem-svg.html %} урок 40</p>

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

    <!-- button for [ video ] -->
    <li class="nav-item" role="presentation">
      <a class="nav-link active" 
        id="pills-video1-tab" 
        data-toggle="pill" 
        href="#pills-video1" 
        role="tab" 
        aria-controls="pills-video1" 
        aria-selected="true">
          Видео
      </a>
    </li>

    <!-- button for [ video 2 ] -->
    <!--
    <li class="nav-item" role="presentation">
      <a class="nav-link" 
        id="pills-video2-tab" 
        data-toggle="pill" 
        href="#pills-video2" 
        role="tab" 
        aria-controls="pills-video2" 
        aria-selected="false">
          Конспект
      </a>
    </li>
    -->

    <!-- button for [ links from lessons ] -->
    <li class="nav-item" role="presentation">
      <a class="nav-link" 
        id="pills-links-tab" 
        data-toggle="pill" 
        href="#pills-links" 
        role="tab" 
        aria-controls="pills-links" 
        aria-selected="false">
          Полезное
      </a>
    </li>

    <!-- button for [ ]-->
    <!--  
    <li class="nav-item" role="presentation">
      <a class="nav-link" 
        id="pills-contact-tab" 
        data-toggle="pill" 
        href="#pills-contact" 
        role="tab" 
        aria-controls="pills-contact" 
        aria-selected="false">
          кнопка
      </a>
    </li>
    -->
  </ul>
  
  <div class="tab-content" id="pills-tabContent">

    <!-- video -->
    <div class="tab-pane fade show active" id="pills-video1" role="tabpanel" aria-labelledby="pills-video1-tab">
      
      <!-- videoplayer -->
      <div class="videoplayer">
        <div style="padding:59.38% 0 0 0;position:relative;">
          <iframe src="https://www.youtube.com/embed/Rj8PekHBOUM" 
            style="position:absolute;top:0;left:0;width:100%;height:100%;border-radius: 5px; box-shadow: 0px 0px 20px 0px #999;"
            frameborder="0" 
            allow="autoplay; fullscreen; picture-in-picture">
          </iframe>        
        </div>

        <div class="video-another">
          <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a class="nav-link active id="youtube"
                target="_blank"  
                href="https://vimeo.com/109891585">
                {% include videoplayer-svg.html %} Смотреть урок на Vimeo
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link active id="conspectus"
                target="_blank"  
                href="https://github.com/krdprog/rubyschool-notes/blob/master/one-by-one/lesson-40.md">
                {% include conspectus-paperclip-svg.html %} Читать конспект на GitHub
              </a>
            </li>
          </ul>
        </div>      
      </div>

      <!-- lesson -->
      <div class="lesson-topic">
        <p>{% include lesson-topic-svg.html %} Тема урока:</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{% include lesson-info-svg.html %} удаление статей</li>
          <li class="list-group-item">{% include lesson-info-svg.html %} атрибуты тегов data- (turbolinks)</li>
          <li class="list-group-item">{% include lesson-info-svg.html %} небольшой рассказ про render</li>
          <li class="list-group-item">{% include lesson-info-svg.html %} отношения one-to-many</li>
          <li class="list-group-item">{% include lesson-info-svg.html %} создаем форму для комментариев</li>
          <li class="list-group-item">
            {% include lesson-info-svg.html %}
            Примечание:
            <hr>
            На Rails версии 7+ вероятен баг - не удаляется статья (из браузера)
            <hr>
            Это происходит из-за того, что в Rails 7 отключен UJS
            <hr> 
            Необходимо вместо <code class="codeline">link_to</code>, 
            использовать <code class="codeline">button_to</code> для кнопки удаления
          </li>
          <hr>
        </ul>
      </div>

      <div class="lesson-topic">
        <p>{% include lesson-topic-svg.html %} Домашнее задание:</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {% include lesson-info-svg.html %}
            Сделать вывод комментариев на странице статьи (<code class="codeline">.each</code>)
          </li>
          <li class="list-group-item">
            {% include lesson-info-svg.html %}
            Избавиться от ненужных маршрутов
          </li>
          <li class="list-group-item">
            {% include lesson-info-svg.html %}
            Посмотреть старые версии Barbershop и сравнить с кодом на rails
          </li>
          <hr>
        </ul>
      </div>
    </div>

    <!-- video 2 -->
    <!--
    <div class="tab-pane fade" id="pills-video2" role="tabpanel" aria-labelledby="pills-video2-tab">

      <div class="card" id="video2">

        <div class="card-body">
          <div style="padding:59.38% 0 0 0;position:relative;">
          <iframe src="#" 
            style="position:absolute;top:0;left:0;width:100%;height:100%;border-radius: 5px; box-shadow: 0px 0px 20px 0px #999;"
            frameborder="0" 
            allow="autoplay; fullscreen; picture-in-picture">
          </iframe>        
        </div>
        </div>
      </div>
    </div>
    -->

    <!-- links from lessons -->    
    <div class="tab-pane fade" id="pills-links" role="tabpanel" aria-labelledby="pills-links-tab">
      {% include links-from-lessons.html %}
    </div>

  </div>
</div>