---
layout: post
title: урок 16
categories: lessons
---

<div class="lessons-page">
  <p class="lesson-number"> {% include gem-svg.html %} урок 16</p>

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

    <!-- button for [ video ] -->
    <li class="nav-item" role="presentation">
      <a class="nav-link active" 
        id="pills-video1-tab" 
        data-toggle="pill" 
        href="#pills-video1" 
        role="tab" 
        aria-controls="pills-video1" 
        aria-selected="true">
          Видео
      </a>
    </li>

    <!-- button for [ video 2 ] -->
    <!--
    <li class="nav-item" role="presentation">
      <a class="nav-link" 
        id="pills-video2-tab" 
        data-toggle="pill" 
        href="#pills-video2" 
        role="tab" 
        aria-controls="pills-video2" 
        aria-selected="false">
          Конспект
      </a>
    </li>
    -->

    <!-- button for [ links from lessons ] -->
    <li class="nav-item" role="presentation">
      <a class="nav-link" 
        id="pills-links-tab" 
        data-toggle="pill" 
        href="#pills-links" 
        role="tab" 
        aria-controls="pills-links" 
        aria-selected="false">
          Полезное
      </a>
    </li>

    <!-- button for [ ]-->
    <!--  
    <li class="nav-item" role="presentation">
      <a class="nav-link" 
        id="pills-contact-tab" 
        data-toggle="pill" 
        href="#pills-contact" 
        role="tab" 
        aria-controls="pills-contact" 
        aria-selected="false">
          кнопка
      </a>
    </li>
    -->
  </ul>
  
  <div class="tab-content" id="pills-tabContent">

    <!-- video -->
    <div class="tab-pane fade show active" id="pills-video1" role="tabpanel" aria-labelledby="pills-video1-tab">
      
      <!-- videoplayer -->
      <div class="videoplayer">
        <div style="padding:59.38% 0 0 0;position:relative;">
          <iframe src="https://www.youtube.com/embed/SiWacPR3VA0" 
            style="position:absolute;top:0;left:0;width:100%;height:100%;border-radius: 5px;"
            frameborder="0" 
            allow="autoplay; fullscreen; picture-in-picture">
          </iframe>        
        </div>

        <div class="video-another">
          <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a class="nav-link active id="youtube"
                target="_blank"  
                href="https://vimeo.com/102265466">
                {% include videoplayer-svg.html %} Смотреть урок на Vimeo
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link active id="conspectus"
                target="_blank"  
                href="https://github.com/krdprog/rubyschool-notes/blob/master/one-by-one/lesson-16.md">
                {% include conspectus-paperclip-svg.html %} Читать конспект на GitHib
              </a>
            </li>
          </ul>
        </div>      
      </div>

      <!-- lesson -->
      <div class="lesson-topic">
        <p>{% include lesson-topic-svg.html %} Тема урока:</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{% include lesson-info-svg.html %} статические методы</li>
          <li class="list-group-item">
            {% include lesson-info-svg.html %} 
            lambda-функции
          </li>
          <li class="list-group-item">{% include lesson-info-svg.html %} yield</li>
          <li class="list-group-item">{% include lesson-info-svg.html %} наследование</li>
          <li class="list-group-item">{% include lesson-info-svg.html %} типы переменных</li>
          <hr>
        </ul>
      </div>

      <div class="lesson-topic">
        <p>{% include lesson-topic-svg.html %} Домашнее задание:</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {% include lesson-info-svg.html %}
            Разбирать примеры из 15 урока
          </li>
          <li class="list-group-item">
            {% include lesson-info-svg.html %}
            Разбирать примеры из 16 урока
          </li>
          <li class="list-group-item">
            {% include lesson-info-svg.html %}
            <a href="http://phrogz.net/programmingruby/tut_classes.html" target="_blank">
              http://phrogz.net/programmingruby/tut_classes.html
            </a> 
            (классы) читать и пробовать
          </li>
          <li class="list-group-item">
            {% include lesson-info-svg.html %}
            <a href="http://tutorialspoint.com/ruby/ruby_modules.htm" target="_blank">
              http://tutorialspoint.com/ruby/ruby_modules.htm
            </a> 
            (модули) читать и пробовать
          </li>
          <hr>
        </ul>
      </div>
    </div>

    <!-- video 2 -->
    <!--
    <div class="tab-pane fade" id="pills-video2" role="tabpanel" aria-labelledby="pills-video2-tab">

      <div class="card" id="video2">

        <div class="card-body">
          <div style="padding:59.38% 0 0 0;position:relative;">
          <iframe src="#" 
            style="position:absolute;top:0;left:0;width:100%;height:100%;border-radius: 5px; box-shadow: 0px 0px 20px 0px #999;"
            frameborder="0" 
            allow="autoplay; fullscreen; picture-in-picture">
          </iframe>        
        </div>
        </div>
      </div>
    </div>
    -->

    <!-- links from lessons -->    
    <div class="tab-pane fade" id="pills-links" role="tabpanel" aria-labelledby="pills-links-tab">
      {% include links-from-lessons.html %}
    </div>

  </div>
</div>